
{% block title %}
    error
{% endblock %}

{% block content %}
<p>We're sorry, we encoutered an internal error. Our team of coding ninjas is already working on a solution.    
     <a href="/">Click to continue</a>. </p>
     <img src="/images/ninja.png" width="100">
{% endblock %}