{% extends "base.html.twig" %}
{% block title %}Password Reset
{% endblock %}
{% block head %}
	<link rel="stylesheet" href="../styles/registration.css">
	{{ parent() }}
{% endblock %}

{% block content %}
	<section class="section p-5">
		<div class="container">
			<div class="row text-center g-2 mt-5">
				<div class="modal-dialog">
					<div class="modal-content">

						<div class="modal-header">
							<h3 class="h3 card-title" id="exampleModalNavLabel">Password reset</h3>
						</div>

						<div class="modal-body">
							<p>Please type your new password</p>
							<form method="POST" autocomplete="off">
								<div class="form-floating mb-3">
									<input type="password" class="form-control" id="floatingPassword1" name="pass1" placeholder="Password">
									<label for="floatingPassword1">Password</label>
								</div>

								<div class="form-floating mb-3">
									<input type="password" class="form-control" id="floatingPassword2" name="pass2" placeholder="Password">
									<label for="floatingPassword2">Password (Repeated):</label>
								</div>

								<div class="logInButtonBox">
									<button class="btn logInButton" type="submit">Change password</button>
								</div>
							</form>
						</div>

						<div class="modal-footer">
							<ul class="errorList">
								{% for error in errorList %}
									<li>{{ error }}</li>
								{% endfor %}
							</ul>
						</div>
					</div>
				</div>
			</div>

		</div>

	</section>
{% endblock %}
