{% extends "base.html.twig" %}
{% block title %}Password Reset
{% endblock %}
{% block head %}
	<link rel="stylesheet" href="../styles/registration.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	{{ parent() }}
{% endblock %}

{% block content %}

	<section class="section p-5">

		<div class="container">

			<div class="row text-center g-2 mt-5">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h3 class="h3 card-title" id="exampleModalNavLabel">Request Sent</h3>
						</div>
						<div class="modal-body">
							<p>Password reset has been sent to the registered user. Check your email in a moment.</p>
						</div>
						<div class="modal-footer">
                            <p>Press here to return to sign in portal</p>
							<a class="logInButtonBox" href="https://travel.fsd01.ca/login">
								<button class="btn logInButton">Sign in</button>
							</a>
						</div>
					</div>
				</div>
			</div>

		</div>

	</section>

{% endblock %}