{% extends "base.html.twig" %}
{% block title %}Fire Sale Deals
{% endblock %}
{% block head %}
	<link rel="stylesheet" href="styles/trCalendar.css">
	<link href='styles/calendar.css' rel='stylesheet'/>
	<script src='scripts/calendar.js'></script>
	<script>

		document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {initialView: 'dayGridMonth'});
        calendar.render();
        });
	</script>
	{{ parent() }}
{% endblock %}

{% block content %}

	<div class="parallax-1">
		<div class="caption">
			<span class="border">Travel Spontaneously..</span>
		</div>
	</div>

	<section id="calendar_container">
		<div id="calendar" class = "bg-light"></div>
		<div class="submitButtonBox">
			<a class="submitButton" href="https://travel.fsd01.ca/testbooking">Book!</a>
		</div>
	</section>

	<div class="parallax-1">
		<div class="caption">
			<span class="border">...Escape</span>
		</div>
	</div>

{% endblock %}
